# Name: JAR_Plugin

# Description:
# This plugin demonstrates how plugins can be packaged in

Plugins>Multifrac 2D images, "2D B&W Fractal Dimension Box Counting...", _2DFracDimBC
Plugins>Multifrac 2D images, "2D Gray Multifractal analysis Box Counting...", _2DMultifrBC
Plugins>Multifrac 2D images, "2D Gray Multifractal analysis Gliding Box...", _2DMultifrGB
Plugins>Multifrac 2D images, "2D Gray Lacunarity Analysis...", _2DLacunGB
Plugins>Multifrac 2D images, "2D Gray Conf. Entropy and Char. Length...", _2DConfEntrCharLenGB


Plugins>Multifrac 3D images, "3D B&W Fractal Dimension Box Counting...", _3DFracDimBC
Plugins>Multifrac 3D images, "3D Gray Multifractal analysis Box Counting...", _3DMultifrBC
Plugins>Multifrac 3D images, "3D Gray Multifractal analysis Gliding Box...", _3DMultifrGB

